<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f0f0f0;">
  <a class="navbar-brand px-5" href="#" style="font-family: 'Arial', sans-serif; font-size: 1.5rem; color: #333;">The Food Book</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar"
    aria-controls="navbar"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav px-5">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/recipes"
          style="font-family: 'Arial', sans-serif; font-size: 1.1rem; color: #555;"
        >Recipes</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a
          class="nav-link"
          routerLink="/shopping-list"
          style="font-family: 'Arial', sans-serif; font-size: 1.1rem; color: #555;"
        >Shopping List</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto px-5">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          role="button"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="font-family: 'Arial', sans-serif; font-size: 1.1rem; color: #555;"
        >
          Manage
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a class="dropdown-item" (click)="onSaveData()" style="cursor: pointer; animation: fadeIn 0.5s;">Save Data</a>
          <a class="dropdown-item" style="cursor: pointer; animation: fadeIn 0.5s;">Fetch Data</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
