<div class="row">
  <div class="col-12">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#recipeEditModal"
      style="margin-right: 4vw"
      (click)="onNewRecipe()"
    >
      New Recipe
    </button>
    <button class="my-recipes btn btn-info" style="color: darkslategrey;" (click)="onMyRecipes()">
      {{ getMyRecipesButtonText() }}
    </button>
  </div>
</div>
<hr />

<div class="mb-3 d-flex align-items-center">
  <input
    type="text"
    class="form-control me-2"
    [placeholder]="isSearchingByRecipeName ? 'Search Recipes...' : 'Search By Author'"
    [(ngModel)]="searchQuery"
  />
  <button class="btn btn-info" (click)="toggleSearchMode()">
    {{ isSearchingByRecipeName ? 'Search By Author' : 'Search By Recipe' }}
  </button>
</div>


<div
  class="row border-2 scrollbar"
  style="max-height: 72vh; overflow-y: auto; overflow-x: hidden"
>
  <ng-container *ngIf="filteredRecipes().length > 0; else noRecipes">
    <app-recipe-item
      *ngFor="let recipeEl of filteredRecipes(); let i = index"
      [recipe]="recipeEl"
      [index]="recipeEl.id"
    ></app-recipe-item>
  </ng-container>
</div>

<ng-template #noRecipes>
  <div class="text-center mt-3">
    <p class="text-muted fw-medium mt-5" style="font-size:xx-large;">You have not created any recipes. Create your first now!</p>
  </div>
</ng-template>
