<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddUpdateItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            ngModel
            required
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            name="amount"
            class="form-control"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 m-2">
          <button
            class="btn mx-1 btn-success"
            type="submit"
            [disabled]="!f.valid"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            class="btn mx-1 btn-danger"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode"
          >
            Delete
          </button>
          <button class="btn mx-1 btn-info" (click)="onClear()" type="button">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
